body {
    background-color: #EEF9BF;

}

.cabecalho {
    width: 1110px;
    height: 63px;
    margin: 18px auto;
    color: #75B79E;
    text-align: center;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    justify-content: center;
}

.containerPrincipal {
    width: 872px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.containerCards {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.cards,
.front,
.back {
    width: 117px;
    height: 146px;
    display: flex;
    margin-bottom: 34px;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
}

.cards {
    margin-left: 20px;
}

.front {


    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    backface-visibility: hidden;



}

.back {
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    transform: rotateY(180deg);
    transition: all 0.3s linear;


}


.card {

    background-size: cover;
    background-position: center;
    display: flex;
    position: absolute;
    z-index: 1;
}

.rotacao {
    transform: rotateY(180deg);
    transition: all 0.3s linear;
}

@media (max-width: 335px) {

    .cabecalho {
  
        display: flex;
        justify-content: center;
        width: 312px;
        text-align: center;
        margin: ;
    }

    .containerCards {

        width: 200px;
        font-size: 36px;
        justify-content: center;
        margin-left: 50px;
        margin-top: 200px;
        flex-direction: column;
    }
    .cards{

        margin: auto;
        margin-bottom: 30px;
    }
}